#tabs {
    width: 1000px;
    margin: auto;
}

.questions {
    height: 300px;
    width: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 20px;
}

h4 {
    padding-left: 20px;
    height: 20px;
    text-align: center;
    text-decoration: underline;
    padding-top: 30px;
}

.specs {
    width: auto;
    height: 30px;
    margin-bottom: 20px;
}

p {
    float: left;
    font-size: .7em;
    margin-left: 80px;
}

img {
    float: right;
    width: 200px;
    height: 200px;
    padding-right: 20px;
}

.specs {}